<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragmento</title>
    <link rel="stylesheet" type="text/css" href="/hoteles/src/main/resources/Sta/C/bootstrap.min.css">
    <link rel="stylesheet" href="/hoteles/src/main/resources/Sta/C/variables.css">
</head>
<body>
   <div th:fragment = "productoForm(titulo)" class="container border border-2 w-25">
    <h1 class="text-center" th:text="${titulo}"></h1>
    
    <form>
        <label class="col-form-label">Descripcion:</label>
        <input class="form-control" type="text" id="descripcion" name="descripcion" required th:value="${producto.descripcion}" />
        <label class="col-form-label">Estado:</label>
        <input class="form-control" type="text" id="estado" name="estado" required th:value="${producto.estado}" />
    </form>

    </br>
   </div> 
</body>
</html>