<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoteles</title>
    <link rel="stylesheet" type="text/css" href="/hoteles/src/main/resources/Sta/C/bootstrap.min.css">
    <link rel="stylesheet" href="/hoteles/src/main/resources/Sta/C/variables.css">
</head>
<body> 
      <nav class="navbar navbar-expand-sm navbar-dark menu sticky-top" id="navbar">
        <div class="container-xxl flex-wrap flex-md-nowrap " aria-label="Main navigation">
          <a class="navbar-brand" href="index.html">
            <img src="/hoteles/src/main/resources/Sta/C/images/logonavbar.png" width="175">
          </a>
          <div>
            <a href="/hoteles/src/main/resources/Sta/C/templates/hotel.html" class="btn btn-primary" >Hotel</a>
            <a href="/hoteles/src/main/resources/Sta/C/templates/usuarios.html" class="btn btn-primary" >Usuarios</a>
            <a href="/hoteles/src/main/resources/Sta/C/templates/habitaciones.html" class="btn btn-primary" >Habitaciones</a>
            <a href="/hoteles/src/main/resources/Sta/C/templates/servicios.html" class="btn btn-primary" >Servicios</a>
            <a href="/hoteles/src/main/resources/Sta/C/templates/reservas.html" class="btn btn-primary" >Reservas</a>
            <a href="/hoteles/src/main/resources/Sta/C/templates/productos.html" class="btn btn-primary" >Productos</a>
          </div>
        </div>
      </nav>
</body>
</html>