<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>
    <link rel="stylesheet" type="text/css" href="/hoteles/src/main/resources/Sta/C/bootstrap.min.css">
    <link rel="stylesheet" href="/hoteles/src/main/resources/Sta/C/variables.css">
</head>

<body>
    </br>
    <form th:action="@{'/TBL_PRODUCTO/' + ${id} + '/edit/save'}" th:object="${producto}" method="post">
        <div th:replace="~{fragments/productoForm :: productoForm(titulo='Editar producto', producto=${producto})}">
        </div>
    </form>

</body>

</html>
