<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoteles</title>
    <link rel="stylesheet" type="text/css" href="/hoteles/src/main/resources/Sta/C/bootstrap.min.css">
    <link rel="stylesheet" href="/hoteles/src/main/resources/Sta/C/variables.css">
</head>
<body> 
      <div class="text-center">
        <h1>Lista de Habitaciones</h1>
            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Television</th>
                        <th>Capacidad</th>
                        <th>Minibar</th>
                        <th>Cafetera</th>
                        <th>Costo Noche</th>
                        <th>Numero</th>
                        <th>Tipo Habitacion ID</th>
                    </tr>
                </thead>
                <th:block th:each="habitacion : ${TBL_HABITACION}">
                    <tr>
                        <td th:text="${habitacion.id}"></td>
                        <td th:text="${habitacion.television}"></td>
                        <td th:text="${habitacion.capacidad}"></td>
                        <td th:text="${habitacion.minibar}"></td>
                        <td th:text="${habitacion.cafetera}"></td>
                        <td th:text="${habitacion.costoNoche}"></td>
                        <td th:text="${habitacion.numero}"></td>
                        <td th:text="${habitacion.tipoHabitacionID}"></td>
                        <td>
                            <a th:href="@{TBL_HABITACION/{id}/edit(id=${habitacion.id})}">Editar</a>
                            <a th:href="@{TBL_HABITACION/{id}/delete(id=${habitacion.id})}"
                                onclick="return confirm('¿Estás seguro de borrar esta habitacion?')">Borrar</a>
                        </td>
                    </tr>
                </th:block>
            </table>
            <div>
                <a th:href='@{TBL_HABITACION/new}' class="btn btn-primary">Añadir habitacion</a>
                <a href='/hoteles/src/main/resources/Sta/C/templates/index.html' class="btn btn-primary">Volver Atrás</a>
                <a href="/hoteles/src/main/resources/Sta/C/templates/TBL_USUARIO.html" class="btn btn-primary">Usuarios</a>
                <a href="/hoteles/src/main/resources/Sta/C/templates/TBL_SERVICIO.html"
                    class="btn btn-primary">Servicios</a>
                <a href="/hoteles/src/main/resources/Sta/C/templates/TBL_RESERVAS.html" class="btn btn-primary">Reservas</a>
                <a href="/hoteles/src/main/resources/Sta/C/templates/TBL_PRODUCTO.html"
                    class="btn btn-primary">Productos</a>
            </div>
            <br />
    
        </div>
</body>
</html>